* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@keyframes hero-blinking-yellow {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hero-blinking-green {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showAnswer {
  0% {
    opacity: 0;
    max-height: 0;
  }
  50% {
    opacity: 0.5;
    max-height: 150px;
  }
  100% {
    opacity: 1;
    max-height: 300px;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}
body {
  font-family: "Comfortaa", sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

.nav {
  position: fixed;
  width: 100vw;
  background-color: rgba(12, 12, 17, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 100;
}
.nav__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__nav-logo {
  width: 200px;
}
.nav__nav-logo .logo-img {
  width: 100%;
  filter: invert(1);
}
.nav__nav-items--link {
  position: relative;
  font-size: 1.4rem;
  padding: 2em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(to right, #ff6e00, #ff6e00 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transition: all 0.3s ease-in-out;
}
.nav__nav-items--link:before {
  content: "";
  background: #ff6e00;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.nav__nav-items--link:hover {
  background-position: 0;
}
.nav__nav-items--link:hover::before {
  width: 100%;
}

.header {
  position: relative;
  height: 70vh;
  background: linear-gradient(308deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 213, 122, 0.2) 100%), url(../img/hero-img-eleonora-1920.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.header .header-blink {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.header .yellow {
  background: linear-gradient(308deg, rgba(255, 255, 255, 0) 0%, rgba(255, 213, 122, 0.1) 100%);
  animation: hero-blinking-yellow 5s infinite ease-in-out 1s alternate;
}
.header .green {
  background: linear-gradient(270deg, rgba(15, 89, 64, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  animation: hero-blinking-green 4s infinite ease-in-out 1s alternate;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.header__content--title {
  font-size: 6rem;
  color: #fff;
  text-transform: uppercase;
}
.header__content--description {
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

.main .section {
  padding: 7em 0 10em 0;
  scroll-margin-top: 35px;
  border-top: 4px solid #ff6e00;
  background-color: #0c0c11;
}
.main .section__heading {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  font-size: 3rem;
  text-transform: uppercase;
  color: #ff6e00;
}
.main .rooms__container {
  display: grid;
  grid-template-columns: repeat(1, 300px);
  place-content: center;
  gap: 10em;
}
.main .rooms__container__cards {
  perspective: 900px;
  cursor: pointer;
}
.main .card {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  aspect-ratio: 9/16;
  perspective: 900px;
  transition: transform 0.7s;
}
.main .card:hover {
  transform: rotateX(20deg);
}
.main .card__heading {
  position: relative;
  margin: 1em;
  font-size: 3rem;
  text-align: center;
  text-shadow: 0 5px 8px black;
  color: #fff;
}
.main .card__front-image {
  border: none;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  -o-object-fit: contain;
     object-fit: contain;
  transform-origin: bottom;
  transition: opacity 0.7s, transform 0.7s;
}
.main .card__front-image--amber {
  bottom: -70px;
  scale: 1.2;
}
.main .card__front-image--eleonora {
  bottom: 20px;
  scale: 0.85;
}
.main .card__front-image--john {
  bottom: -60px;
  scale: 1.2;
}
.main .card__front-image--kid {
  left: -10px;
  bottom: -100px;
  scale: 1.2;
}
.main .card__front-image--priest {
  bottom: 0px;
  scale: 1.1;
}
.main .card__front-image--mistress {
  bottom: 20px;
  scale: 0.9;
}
.main .card:hover .card__front-image {
  opacity: 1;
  transform: translateY(0rem) translateZ(0px) rotateX(-20deg) scaleY(1.15);
}
.main .card__bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.main .card__bg-image--amber {
  background-image: url("../img/rooms_cards/amber/card-bg-v1.jpg");
}
.main .card__bg-image--eleonora {
  background-image: url("../img/rooms_cards/eleonora/card-bg.png");
}
.main .card__bg-image--john {
  background-image: url("../img/rooms_cards/john/card-bg-v1.jpg");
}
.main .card__bg-image--kid {
  background-image: url("../img/rooms_cards/kid/card-bg-v2.jpg");
}
.main .card__bg-image--priest {
  background-image: url("../img/rooms_cards/exorcism/card-bg-v2.jpg");
}
.main .card__bg-image--mistress {
  background-image: url("../img/rooms_cards/mistress/card-bg-v2.jpg");
}
.main .card::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  background-image: radial-gradient(circle, transparent 0px, #0c0c11);
  opacity: 0;
  transition: opacity 0.7s;
}
.main .card:hover::before {
  opacity: 1;
}
.main .card::after {
  content: "";
  position: absolute;
  inset: 80% 1.5rem 4.5rem;
  translate: 0;
  transform: translateZ(100px);
  background: rgba(0, 0, 0, 0.519);
  filter: blur(1.6rem);
  z-index: -10;
  transition: rotate 0.7s;
  border-radius: 20%;
}
.main .card:hover::after {
  rotate: x -20deg;
}
.main .faq {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main .faq__questions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 2rem 3em;
  gap: 1rem;
}
.main .faq__questions--answer {
  display: none;
  animation: showAnswer 0.5s ease-in;
}
.main .faq__questions--answer.active {
  color: #ff6e00;
  font-size: 1.5rem;
  margin: 1rem;
  width: 50%;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0.5em;
  padding: 1em;
  margin: 5px;
  display: block;
}
.main .faq__questions--question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  margin: 1rem;
  width: 50%;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0.5em;
  padding: 1em;
  margin: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
}
.main .faq__questions--question .fa-solid {
  margin-left: 10px;
  color: #ff6e00;
  transition: transform 0.3s ease;
}
.main .faq__questions--question:hover {
  background-color: #e0e0e0;
}

.footer {
  height: 50vh;
  background-color: #ff6e00;
}

@media (min-width: 768px) {
  .main .rooms__container {
    grid-template-columns: repeat(2, 300px);
  }
}
@media (min-width: 1201px) {
  .main .rooms__container {
    grid-template-columns: repeat(3, 300px);
  }
}/*# sourceMappingURL=main.css.map */