// kolory tła
$bg-color-light: #ccc;
$bg-color-dark: #0c0c11;

//kolory czcionek
$font-color-light: #ccc;
$font-color-dark: #333;

//kolory dla akcentów
$main-color: #ff6e00;
$pure-white: #fff;
$darker-white: #e0e0e0;

//kolor cienia
$shadow-color: #33333342;
