// kolory tła
$bg-color-light: #ccc;
$bg-color-dark: #333;

//kolory czcionek
$font-color-light: #ccc;
$font-color-dark: #333;

//kolory dla akcentów
$main-color: #FF6E00;
$pure-white: #fff;

//kolor cienia
$shadow-color: #33333342;