@keyframes hero-blinking-yellow {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hero-blinking-green {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}