//-------------------------------------
//IMPORTING EXTERNAL *.SCSS FILES
//-------------------------------------
@use 'colors' as *;
@use 'reset' as *;
@use 'key-frames' as *;

body {
	font-family: 'Comfortaa', sans-serif;
}

//uniwersalna klasa którą można nadać na elementy by ograniczyć ich szerokość do max 1200px. Co zapobiega słabemu wyświetlaniu się zawartości na monitorach o wysokiej rozdzielczość i monitorach ultra wide
.wrapper {
	margin: 0 auto;
	padding: 0 20px;
	width: 100%;
	max-width: 1400px;
}

//-------------------------------------
// NAVIGATION BAR
//-------------------------------------

.nav {
	position: fixed;
	width: 100vw;
	background-color: rgba($color: $bg-color-dark, $alpha: 0.6);
	backdrop-filter: blur(10px);
	z-index: 100;
	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&-logo {
			width: 200px;
			.logo-img {
				width: 100%;
				filter: invert(1);
			}
		}
		&-items {
			&--link {
				position: relative;
				font-size: 1.4rem;
				padding: 2em;
				font-weight: 700;
				text-transform: uppercase;
				text-decoration: none;
				background-image: linear-gradient(
					to right,
					$main-color,
					$main-color 50%,
					$pure-white 50%
				);
				background-size: 200% 100%;
				background-position: -100%;
				background-clip: text;
				color: transparent;
				transition: all 0.3s ease-in-out;
				&:before {
					content: '';
					background: $main-color;
					display: block;
					position: absolute;
					bottom: 0px;
					left: 0;
					width: 0;
					height: 3px;
					transition: all 0.3s ease-in-out;
				}
				&:hover {
					background-position: 0;
				}
				&:hover::before {
					width: 100%;
				}
			}
		}
	}
}

//-------------------------------------
// HEADER / HERO IMG
//-------------------------------------

.header {
	position: relative;
	height: 70vh;
	background: linear-gradient(
			308deg,
			rgba(0, 0, 0, 0.2) 0%,
			rgba(255, 213, 122, 0.2) 100%
		),
		url(../img/hero-img-eleonora-1920.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	.header-blink {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		height: 100%;
	}

	.yellow {
		background: linear-gradient(
			308deg,
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 213, 122, 0.1) 100%
		);
		animation: hero-blinking-yellow 5s infinite ease-in-out 1s alternate;
	}

	.green {
		background: linear-gradient(
			270deg,
			rgba(15, 89, 64, 0.3) 0%,
			rgba(255, 255, 255, 0) 100%
		);
		animation: hero-blinking-green 4s infinite ease-in-out 1s alternate;
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		height: 100%;

		&--title {
			font-size: 6rem;
			color: $pure-white;
			text-transform: uppercase;
		}

		&--description {
			text-align: center;
			font-size: 2rem;
			color: $pure-white;
		}
	}
}

//-------------------------------------
// MAIN CONTENT OF THE WEBSITE
//-------------------------------------

//tutaj znajduje sie glowna zawartosc strony, wszystkie sekcje: pokoje, faq itd.
.main {
	// główne ustawienia dla każdej sekcji
	.section {
		padding: 7em 0 10em 0; // odstęp od gornej i dolnej krawedzi kazdej sekcji tak by tresc nie dotykala gornej lub dolnej krawedzi
		scroll-margin-top: 35px;
		border-top: 4px solid $main-color;
		background-color: $bg-color-dark;

		&__heading {
			// naglowek kazdej sekcji, byc moze w przyszlosci usuniemy i kazda sekcja bedzie miala swoj wlasny uniwersalny naglowek dostosowany do zawartosci sekcji
			display: flex;
			justify-content: center;
			margin-bottom: 2em; // odsuwam dolna krawedz naglowka od dalszej zawartosci sekcji
			font-size: 3rem;
			text-transform: uppercase;
			color: $main-color;
		}
	}

	//-------------------------------------
	// ROOMS
	//-------------------------------------

	// klasa przypisana do div'a, który jest pojemnikiem na zawartość sekcji "ROOMS" tutaj znajduje się wszystko z wyjątkiem naglowka całej sekcji.
	.rooms {
		&__container {
			// GRID CONTAINER, pojemnik na calego grida
			display: grid;
			grid-template-columns: repeat(
				1,
				300px
			); // ustawiam w grid jedną kolumne o szerokośći 300px, w media osobbne break pointy dla 2 i 3 kolumn
			place-content: center; // wysrodkowuje calego grida
			gap: 10em; // odstępy między komorkami grida

			&__cards {
				// GRIDD CELL, pojedyncza komórka grida
				perspective: 900px; // nadaje perspektywe na kazdą z komórek by móc obracac dziećmi "__cards"
			}
		}
	}

	// pojemnik wewnatrz komórki grida, tu znajduje sie osobno naglowek, tlo oraz postać
	.card {
		position: relative;
		display: flex; //flex by ustawic odpowiednio naglowek oraz pozostale tresci takie jak poziom trudnosci itd.
		align-items: flex-start;
		justify-content: center;
		aspect-ratio: 9 / 16; // dodaje proporcje, kazda z komórek ma szerokość 300px, a wysokosc dostosowuje sie do nadanej proporcji
		perspective: 900px; // nadaje ponownie perspektywe by moc obracac postacią, która jest dzieckiem ".card"
		transition: transform 0.7s;
		&:hover {
			transform: rotateX(
				20deg
			); // po najechaniu cala karta obraca sie o 20 stopni
		}

		&__heading {
			position: relative;
			margin: 1em;
			font-size: 3rem;
			text-align: center;
			text-shadow: 0 5px 8px black;
			color: #fff;
		}

		// obrazek który wyswietla się po najechaniu na carte
		&__front-image {
			border: none;
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			z-index: 10;
			object-fit: contain;
			transform-origin: bottom; // przypinam do dolnej krawędzi obrazka zawias(w przenośni) i na tej osi się obraca
			transition: opacity 0.7s, transform 0.7s;

			// bem modifier dla obrazka amber
			&--amber {
				bottom: -70px;
				scale: 1.2;
			}

			// bem modifier dla obrazka eleonora
			&--eleonora {
				bottom: 20px;
				scale: 0.85;
			}

			// bem modifier dla obrazka john
			&--john {
				bottom: -60px;
				scale: 1.2;
			}

			// bem modifier dla obrazka kid
			&--kid {
				left: -10px;
				bottom: -100px;
				scale: 1.2;
			}

			// bem modifier dla obrazka priest
			&--priest {
				bottom: 0px;
				scale: 1.1;
			}

			// bem modifier dla obrazka mistress
			&--mistress {
				bottom: 20px;
				scale: 0.9;
			}
		}
		&:hover .card__front-image {
			opacity: 1;
			transform: translateY(0rem) translateZ(0px) rotateX(-20deg) scaleY(1.15);
		}

		&__bg-image {
			position: absolute;
			width: 100%;
			height: 100%;
			background-size: cover;

			// bem modifier dla obrazka amber
			&--amber {
				background-image: url('../img/rooms_cards/amber/card-bg-v1.jpg');
			}

			// bem modifier dla obrazka eleonora
			&--eleonora {
				background-image: url('../img/rooms_cards/eleonora/card-bg.png');
			}

			// bem modifier dla obrazka john
			&--john {
				background-image: url('../img/rooms_cards/john/card-bg-v1.jpg');
			}

			// bem modifier dla obrazka kid
			&--kid {
				background-image: url('../img/rooms_cards/kid/card-bg-v2.jpg');
			}

			// bem modifier dla obrazka priest
			&--priest {
				background-image: url('../img/rooms_cards/exorcism/card-bg-v2.jpg');
			}

			// bem modifier dla obrazka mistress
			&--mistress {
				background-image: url('../img/rooms_cards/mistress/card-bg-v2.jpg');
			}
		}

		// cien wewnętrzny na karcie
		&::before {
			content: '';
			position: absolute;
			inset: 0;
			z-index: 2;
			background-image: radial-gradient(
				circle,
				transparent 0px,
				$bg-color-dark
			);
			opacity: 0;
			transition: opacity 0.7s;
		}

		&:hover::before {
			opacity: 1;
		}

		// cien zewnętrzny pod kartą
		&::after {
			content: '';
			position: absolute;
			inset: 80% 1.5rem 4.5rem;
			translate: 0;
			transform: translateZ(100px);
			background: rgba(0, 0, 0, 0.519);
			filter: blur(1.6rem);
			z-index: -10;
			transition: rotate 0.7s;
			border-radius: 20%;
		}

		&:hover::after {
			rotate: x calc(20deg * -1);
		}

		&__btn {
			opacity: 0;
			position: absolute;
			background-color: none;
			// height: 40px;
			padding: 15px 20px;
			margin: 20px;
			border: none;
			border-radius: 3px;
			z-index: 10;
			cursor: pointer;
			text-transform: capitalize;
			font-size: 1.2rem;
			font-family: 'Comfortaa', sans-serif;
			font-weight: 700;
			transition: background 0.3s, opacity 0.5s;

			&--read {
				bottom: 60px;
				&:hover {
					background-color: #a1a1a1;
				}
			}

			&--book {
				bottom: 0px;
				background-color: $main-color;
				color: #fff;
				&:hover {
					background-color: #cf5a01;
				}
			}
		}

		&:hover .card__btn {
			opacity: 1;
		}
	}

	//-------------------------------------
	// FAQ
	//-------------------------------------
	.faq {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		&__questions {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			width: 100%;
			margin: 2rem 3em;
			gap: 1rem;

			&--answer {
				display: none;
				animation: showAnswer 0.5s ease-in;
			}

			&--answer.active {
				color: $main-color;
				font-size: 1.5rem;
				margin: 1rem;
				width: 50%;
				padding: 10px;
				background-color: $pure-white;
				border: 1px solid $pure-white;
				border-radius: 0.5em;
				padding: 1em;
				margin: 5px;
				display: block;
			}

			&--question {
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-size: 1.5rem;
				margin: 1rem;
				width: 50%;
				padding: 10px;
				background-color: $pure-white;
				border: 1px solid $pure-white;
				border-radius: 0.5em;
				padding: 1em;
				margin: 5px;
				transition: background-color 0.3s;
				cursor: pointer;

				.fa-solid {
					margin-left: 10px;
					color: $main-color;
					transition: transform 0.3s ease;
				}
			}

			&--question:hover {
				background-color: $darker-white;
			}
		}
	}

	.prices {
		display: flex;
		flex-direction: column;
		// justify-content: center;
		align-items: center;
		&__boxes {
			display: grid;
			place-items: center;
			grid-template-columns: repeat(1, 300px);
			gap: 50px;

			&-box {
				width: 100%;
				&--top {
					background-color: $pure-white;
					padding: 2em;
					border-top-right-radius: 5px;
					border-top-left-radius: 5px;
					margin-bottom: 5px;

					.price-heading {
						font-size: 2rem;
						text-align: center;
					}
				}
				&--middle {
					background-color: $secondary-color;
					padding: 0 3em;
					color: #fff;
					text-align: center;
					.price-day {
						font-size: 1.6rem;
						padding: 1em 0;
						text-decoration: underline;
					}
					.price-value {
						font-size: 3rem;
						padding-bottom: 1em;
					}
				}
				&--bottom {
					margin-top: 5px;
					.book-btn {
						padding: 1em 0;
						width: 100%;
						height: 100%;
						font-size: 1.6rem;
						color: #fff;
						text-transform: uppercase;
						background-color: $main-color;
						border-bottom-right-radius: 5px;
						border-bottom-left-radius: 5px;
						border: none;
						cursor: pointer;

						p {
							transition: background 0.2s, scale 0.2s;
						}
						&:hover {
							background-color: #cf5a01;
						}
						&:hover p {
							scale: 1.1;
						}
					}
				}
			}
		}

		&__extra-info {
			padding: 4em 2em;
			color: #fff;
			font-size: 1.6rem;
			span {
				color: $main-color;
				font-weight: 700;
			}
		}

		hr {
			width: 100%;
		}
	}
}

.discounts {
	margin-top: 4em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: stretch;

	&__discount {
		display: flex;

		align-items: center;
		justify-content: center;
		min-width: 300px;
		flex-grow: 1;
		padding: 2em;
		color: #fff;
		font-size: 1.6rem;
		border: 1px solid red;

		&__icon {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			aspect-ratio: 1/1;
			background-color: $main-color;
			border-radius: 50%;
			i {
				font-size: 4rem;
			}
		}

		p {
			margin-left: 2em;
		}
	}
}

//-------------------------------------
// FOOTER
//-------------------------------------

.footer {
	height: 50vh; // domyslnie stopka będzie dostosowywać się do zawartości, chwilowo 50vh dla lepszej widoczności
	background-color: $main-color; // dla lepszej widocznosci tymczasowo pomarańczowa
}

//-------------------------------------
// MEDIA
//-------------------------------------

@media (min-width: 768px) {
	.main {
		.rooms__container {
			grid-template-columns: repeat(2, 300px);
		}
		.prices__boxes {
			grid-template-columns: repeat(2, 300px);
		}
	}
}

@media (min-width: 1200px) {
	.main {
		.rooms__container {
			grid-template-columns: repeat(3, 300px);
		}
		.prices__boxes {
			grid-template-columns: repeat(4, 230px);
		}
	}
}
