//-------------------------------------
//IMPORTING EXTERNAL *.SCSS FILES
//-------------------------------------
@use 'colors' as *;
@use 'reset' as *;
@use 'key-frames' as *;

body {
	font-family: sans-serif;
}

//uniwersalna klasa którą można nadać na elementy by ograniczyć ich szerokość do max 1200px. Co zapobiega słabemu wyświetlaniu się zawartości na monitorach o wysokiej rozdzielczość i monitorach ultra wide
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px; // może zwiększyć do 1400px ?
}

//-------------------------------------
// NAVIGATION BAR
//-------------------------------------

//podstawowa konfiguracja nawigacji. Używam BEM. Myślę, że w tym wypadku dość dobrze zastosowane
.nav {
	position: fixed;
	width: 100vw;
	background-color: $bg-color-dark;
	border-bottom: 3px solid $main-color;
	z-index: 100;

	&__nav-items {
		display: flex;
		justify-content: center;
		height: 100%;

		&--link {
			position: relative;
			padding: 12px 24px;
			font-size: 1.2rem;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			color: $font-color-light;
			transition: background 1s, color 0.3s;

			&:hover {
				background-color: $main-color;
				transition: background 0.3s, color 0.3s;
			}
		}
	}
}

//-------------------------------------
// HEADER / HERO IMG
//-------------------------------------

.header {
	position: relative;
	height: 70vh;
	background: linear-gradient(
			308deg,
			rgba(0, 0, 0, 0.2) 0%,
			rgba(255, 213, 122, 0.2) 100%
		),
		url(../img/hero-img-eleonora-1920.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	.header-blink {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		height: 100%;
	}

	.yellow {
		background: linear-gradient(
			308deg,
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 213, 122, 0.1) 100%
		);
		animation: hero-blinking-yellow 5s infinite ease-in-out 1s alternate;
	}

	.green {
		background: linear-gradient(
			270deg,
			rgba(15, 89, 64, 0.3) 0%,
			rgba(255, 255, 255, 0) 100%
		);
		animation: hero-blinking-green 4s infinite ease-in-out 1s alternate;
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		height: 100%;

		&--title {
			font-size: 6rem;
			color: $pure-white;
			text-transform: uppercase;
		}

		&--description {
			text-align: center;
			font-size: 2rem;
			color: $pure-white;
		}
	}
}

//-------------------------------------
// MAIN CONTENT OF THE WEBSITE
//-------------------------------------

.main {
	margin: 0;

	.section {
		height: 100vh;
		scroll-margin-top: 35px;
		border-top: 4px solid $main-color;
		background-color: $bg-color-dark;

		&__heading {
			display: flex;
			align-items: center; // Zmiana na align-items: center, aby wyśrodkować zawartość sekcji
			justify-content: center;
			margin-top: 20px;
			font-size: 3rem;
			color: $main-color;
		}

		//-------------------------------------
		// FAQ
		//-------------------------------------

		.faq {
			&__questions {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				margin: 6rem;
				gap: 1rem;

				&--answer {
					color: $pure-white;
					display: none;
				}

				&--question {
					display: flex;
					justify-content: space-between;
					align-items: center;
					font-size: 2rem;
					margin: 1rem;
					width: 50%;
					padding: 10px;
					background-color: $pure-white;
					border: 1px solid $pure-white;
					border-radius: 0.5em;
					padding: 1em;
					margin: 5px;
					transition: background-color 0.3s;
					cursor: pointer;

					.fa-solid {
						margin-left: 10px;
					}
				}

				&--question:hover {
					background-color: $darker-white;
				}
			}
		}
	}
}

//-------------------------------------
// FOOTER
//-------------------------------------

.footer {
	height: 50vh; // domyslnie stopka będzie dostosowywać się do zawartości, chwilowo 50vh dla lepszej widoczności
	background-color: $main-color; // dla lepszej widocznosci tymczasowo pomarańczowa
}
